<html>
	<head>
		<meta charset="utf-8"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<style>

	body {
			background: url("https://img.freepik.com/fotos-gratis/natureza-morta-de-chaves-para-uma-nova-casa_23-2151015271.jpg?t=st=1733182502~exp=1733186102~hmac=4eae5dfa17c50595dd1a4a6d5898f2e19a9b82402409996be3cf04d4564716de&w=740");
			background-size: cover;
			background-position: center;
			min-height: 100vh;
			align-items: center;
			justify-content: center;
		}
	</style>
	
	</head>
<body>
	
<br />
<a href="/imobiliaria/PageLogin">Fazer Login</a>
<br /><br />

<h2>Lista de Imóveis</h2><br />

<div id="imoveis"></div>

<script>
	function consultar(){
		var jsonEnvio = {};
		$.ajax({
			url: "/Imovel/Buscar/",
			data: jsonEnvio,
			type:"post",
			success: function (resp){
				var jsonVetor = resp;
				var linhas = "";
				
				for (i=0;i<jsonVetor.length;i++){
					
					var codigo = jsonVetor[i].codigo;
					var foto   = jsonVetor[i].foto;
					var tipo   = jsonVetor[i].tipo;
					var valor  = jsonVetor[i].valor;
					
					linhas += `
						<img src="` + foto + `" style="width: 120px; height: 120px; border: 1px solid black" /><br />
						Tipo de Imóvel: ` + tipo + `<br />
						Valor: R$ ` + valor + `
						<br />
						<br />						
					`;
				}
				
				document.getElementById("imoveis").innerHTML = linhas;
			},
			error: function (){
				alert("Ocorreu um erro ao consultar!!!");
			}
		});
	}
	consultar();
</script>



</body>
</html>